/* NAV BRAND HOVER EFFECT */


.popout {
    font-family: Futura, sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.popout:hover {
    transform: translate3d(0.1em, -0.1em, 0);
    text-shadow: -0.1em 0.1em 
        rgba(46, 7, 110, 0.5);
        
}
    /* NAV ITEMS HOVER ANIMATION */
a.mid-hov
{
    position: relative;
}
a.mid-hov{
    text-shadow: -0.1em 0.1em 
    rgba(64, 13, 146, 0.5);
    
}

a.mid-hov:before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  a.mid-hov:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

/* see more button */
.btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
  }
  .btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  .btn-arrow:hover span {
    transform: translate3d(-1rem,0,0);
  }
  .btn-arrow svg {
    position: absolute;
    width: 1.1em;
    right: 0px;
    right: 0rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
  }
  .btn-arrow svg * {
    stroke-width: 5;
    border-color: transparent;
  }
  .btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
  }
  /* Header TYPEWRITER EFFECT */
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  .bg-image1{
    background: url(/node_modules/mdb-ui-kit/assets/ph-make-your-travel.jpg);
    height: 30%;
    border-radius: 10px;

  }

  .carousel-item img{
    height: 250px; 
  }
.text__shadow{
  text-shadow: -1px 1px 5px rgb(0, 0, 0);
}